.app {
  box-sizing: border-box;
  height: 100vh;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;

  background-image: url(./idea.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  border-radius: 0.6rem;
  box-shadow: 15px 15px 35px hsl(240, 57%, 55%);
  border: 2px solid white;
  padding: 1rem 0rem;
}

.correct {
  color: green;
  font-style: italic;
}
.incorrect {
  color: red;
  font-style: italic;
}

.wrapper h1 {
  font-weight: 800;
  font-size: 2rem;
}

.btn1 {
  border-radius: 1rem;
  box-shadow: 4px 4px 8px hsl(240, 33%, 1%);
  background-color: white;
}
.btn1:hover {
  box-shadow: 0px 0px 0px hsl(240, 27%, 19%);
}
